$bg_color: white;
$text_color: #292724; /* fake black */
$light_text_color: #94908a; /* light gray */ 
$alt_color1: #8fae46; /* pukey greenish */ 
$alt_color2: #bad776; /* light pukey greenish */
$alt_color3: #567117; /* dark pukey greenish */
$title_size: 24px;
$color: blue;

body {
  background-color: $bg_color;
  color: $text_color;
  font-family: 'Ariel', sans-serif;
  font-size: 14px; 
}

a {
    text-decoration: none;
    color: $alt_color1;
  }

a:hover {
  color: $alt_color2;
}

#shell {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  min-width: 900px;
}

header {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.page_title {
  font-size: 50px;
  color: $alt_color3;
}

.page_subtitle {
  margin-top: -40px;
  color: $light_text_color;
}

nav {
  float: left;
  width: 25%;
}

ul#nav {
  margin-top: -8px;
  
  li {
    list-style: none;
    margin-left: -40px;
    font-weight: bold;
    font-size: 40px;
  }
}

#content {
  float: right;
  width: 75%;
  font-size: 16px;
}

footer {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  color: $light_text_color;
}

#post_title {
	font-size: $title_size;
	color: $color;
}