<ul id="nav">
  <li><a href="../about" title="about me">about me</a></li>
  <li><a href="../projects" title="projects">projects</a></li>
  <li><a href="../music" title="music">music</a></li>
  <li><a href="../links" title="links">links</a></li>
</ul>