<img src="images/dave01.png" title="me (in comic form)" class="inline_right">
<p>Hey, I'm Dave, noted sauce aficionado and winner of the 2008 Easy On The Eyes Award.</p>

<p>I like to make things.  These things include (but are not limited to) software, websites, music, electronics, comics, beer, and lunch.</p>

<p>I did my undergrad at University of Illinois-Urbana (Math/CS) and my masters at DePaul (HCI) and I've spent my professional career working as a software engineer or managing software engineers.</p>

<p>I've been in and out of bands since the 5th grade and music is a habit I just can't seem to kick.  I have the following weapons in my musical arsenal (to varying proficiencies): guitar, bass, keyboards, saxophone, drums, and vocals.  I left my last "serious" band, The American Autumn, when I moved out West but I still make some music both on my own and with others.</p>

<p>I currently live in the Chicago area with my wife and kids (who are all pretty excellent). In my scarce free time I like to start bands, run, play chess poorly, be outside, and build things of little practical value.</p>
