<p>Hey, I'm Dave, noted sauce aficionado and winner of the 2008 Easy On The Eyes Award.</p>

<p>I like to make things.  These things include (but are not limited to) software, websites, music, electronics, comics, beer, and lunch.</p>

<p>I did my undergrad at University of Illinois-Urbana (Math/CS) and my masters at DePaul (HCI) and I've spent my professional career working as a software developer in various capacities, currently doing a lot of Scala at Locus Energy.</p>

<p>I've been in and out of bands since the 5th grade and music is a habit I just can't seem to kick.  I have the following weapons in my musical arsenal (to varying proficiencies): guitar, bass, keyboards, saxophone, drums, and vocals.  I left my band, The American Autumn, when I moved out West but I still make some music both on my own and with others.</p>
