<p>Welcome to the new Dinosaurs Eat Everybody, your source for all Dave Schwantes related things on the internet.</p>

<p>This site is in a bit of transitional period right now while I move from my old <a href="http://www.icdsoft.com/" title="Thanks! You've been great, ICD Soft!">shared hosting provider</a> to my new <a href="https://www.digitalocean.com/" title="Hello! DigitalOcean!">VPS</a>.  My (infrequently updated) blog is on temporary hiatus while I'm building a new bloging solution (or I give up and use Jekyll like a sane person).</p>