<!DOCTYPE html>
<html>
<head>
  <title>Dinosaurs Eat Everybody :: <%= @page_title %></title>
  <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
	<header>
		Dinosaurs Eat Everybody
	</header>
	<%= yield %>
	<footer>
		all content unless obvious or otherwise noted belongs to Dave Schwantes ©2013
	</footer>
</body>
</html>