<!DOCTYPE html>
<html>
<head>
  <title>Dinosaurs Eat Everybody :: <%= @page_title %></title>
  <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
	<%= yield %>
</body>
</html>