Narcissistic links about me:

<ul class="links">
  <li><a href="https://twitter.com/dorkrawk" title="@dorkrawk">my Twitter</a></li>
  <li><a href="https://github.com/dorkrawk" title="code is fun">my Github</a></li>
  <li><a href="http://www.goodreads.com/user/show/8577894-dave" title="words words words">my Goodreads</a></li>
  <li><a href="http://www.rdio.com/people/dorkrawk/" title="loud!">my rdio</a></li>
  <li><a href="http://www.last.fm/user/DorkRawk/" title="music + data = awesome">my last.fm</a></li>
  <li><a href="http://www.fitocracy.com/profile/dorkrawk/" title="I am very strong">my Fitocracy</a></li>
  <li><a href="http://www.linkedin.com/in/davidschwantes" title="I am a professional, employable adult">my LinkedIn</a></li>
  <li><a href="https://plus.google.com/114123238540652755609/" title="because users ruin social networks">my Google+</a></li>
  <li><a href="http://daveandeileen.com" title="I am totally getting married soon">my wedding website</a></li>
</ul>

Friends (with websites):

<ul class="links">
  <li><a href="http://rockandrollbrunch.com/" title="a music podcast done by some of my old bandmates">Rock n Roll Brunch</a></li>
  <li><a href="http://switchboardsessions.com/" title="a great music blog by my buddy Dane">Switchboard Sessions</a></li>
</ul>

Stop doing work, read comics:

<ul class="links">
  <li><a href="http://mountsaintawesome.com" title="obviously you should read my comic">Mount Saint Awesome</a></li>
  <li><a href="http://www.questionablecontent.net/" title="QC">Questionable Content</a></li>
  <li><a href="http://www.penny-arcade.com/" title="I'm not much of a gamer, but I still love this comic">Penny Arcade</a></li>
  <li><a href="http://xkcd.com/" title="sometimes comics make you smarter">xkcd</a></li>
  <li><a href="http://www.smbc-comics.com/" title="one of the funniest and smartest comics out there">Saturday Morning Breakfast Cereal</a></li>
  <li><a href="http://abstrusegoose.com/" title="Also nerdy and weird">Abstruse Goose</a></li>
  <li><a href="http://www.qwantz.com/" title="You can't love dinosaurs and not love that Trex">Dinosaur Comics</a></li>
  <li><a href="http://www.mitchclem.com" title="Nothing Nice To Say/My Stupid Life/etc.">Mitch Clem</a></li>
</ul>