<div class="project_title">Narcissistic links about me</div>

<ul class="links">
  <li><a href="https://twitter.com/dorkrawk" title="@dorkrawk">my Twitter</a></li>
  <li><a href="https://github.com/dorkrawk" title="code is fun">my Github</a></li>
  <li><a href="http://www.goodreads.com/user/show/8577894-dave" title="words words words">my Goodreads</a></li>
  <li><a href="https://www.strava.com/athletes/33107424" title="I still run somethings">my Strava</a></li>
  <li><a href="http://www.last.fm/user/DorkRawk/" title="music + data = awesome">my last.fm</a></li>
  <li><a href="http://www.fitocracy.com/profile/dorkrawk/" title="I am very strong">my Fitocracy</a></li>
  <li><a href="http://www.linkedin.com/in/davidschwantes" title="I am a professional, employable adult">my LinkedIn</a></li>
  <li><a href="https://soundcloud.com/dorkrawk" title="sometimes I make noise">my Soundcloud</a></li>
  <li><a href="http://dontscrewituppodcast.com" title="Eileen and I are having a kid and we want to tell you about it">my podcast</a></li>
  <li><a href="https://dontbreakprod.com/" title="Let me tell you have to live your (software engineer) life!">my tech career advice blog</a></li>
</ul>

<div class="project_title">Friends (with websites)</div>

<ul class="links">
  <li><a href="https://www.daneerbach.com/" title="You should read what Dane writes">Dane</a></li>
</ul>

<div class="project_title" title="To open all the comics, press 'o' + 'c'">Stop doing work, read comics</div>

<ul id="comic_links" class="links">
  <li><a href="http://mountsaintawesome.com" title="obviously you should read my comic" class="skip_auto_open">Mount Saint Awesome</a></li>
  <li><a href="http://www.questionablecontent.net/" title="QC">Questionable Content</a></li>
  <li><a href="http://www.penny-arcade.com/" title="I'm not much of a gamer, but I still love this comic">Penny Arcade</a></li>
  <li><a href="http://xkcd.com/" title="sometimes comics make you smarter">xkcd</a></li>
  <li><a href="http://www.smbc-comics.com/" title="one of the funniest and smartest comics out there">Saturday Morning Breakfast Cereal</a></li>
  <li><a href="http://www.qwantz.com/" title="You can't love dinosaurs and not love that Trex">Dinosaur Comics</a></li>
</ul>

<script src="../scripts/links.js"></script>
