<p>I have been in and out of bands since the 5th grade.  Some of those bands/musical projects and have been more serious or longer lived than others, but I will attempt to catalog a good portion of my musical history here.</p>

<div class="project_box">
  <div class="project_title">Grave Danger</div>
  <div class="project_info">
    <a href="https://gravedangerskath.bandcamp.com/" title="Grave Danger on Bandcamp"><i class="icon-link icon-large"></i></a>
    <a href="https://www.instagram.com/gravedangerskath/" title="@gravedangerskath"><i class="icon-instagram icon-large"></i></a>
    <a href="https://twitter.com/gravedangerska" title="@gravedangerska"><i class="icon-twitter icon-large"></i></a>
    <a href="https://www.facebook.com/gravedangerskath" title="Grave Danger on FB"><i class="icon-facebook icon-large"></i></a>
    <a href="https://www.youtube.com/channel/UCvM9K-C-fLuhc5kZgXFaLbA" title="Grave Danger on YouTube"><i class="icon-youtube icon-large"></i></a><br />
    (2017 - present)
    <ul class="band_members">
      <li>Dave Schwantes - guitars, bass, keys, tenor sax, bari sax</li>
      <li>Dane Erbach - drums</li>
      <li>Chris Marcanti - vocals (2019 - present)</li>
      <li>Margaret Miller - trombone</li>
      <li>Andy Miller - trumpet</li>
      <li>Emily Erbach - synth</li>
      <li>Alan Erbach - vocals (2018)<li>
    <ul>
  </div>
  <div class="project_desc">
    Grave Danger started as a joke between me and Dane; We should start a ska got band! A skath band! I started writing a song and it was so much fun we made it a real thing.<br />
    <br />
    <strong>Releases</strong> <br />
    Let 'er RIP (2018) <a href="https://gravedangerskath.bandcamp.com/album/let-er-rip" title="available on Bandcamp"><i class="icon-link icon-large"></i></a><br />
    Tomb It May Concern (2019) <a href="https://gravedangerskath.bandcamp.com/album/tomb-it-may-concern" title="available on Bandcamp"><i class="icon-link icon-large"></i></a><br />
    Specter Inspector (single) (2021) <a href="https://gravedangerskath.bandcamp.com/album/specter-inspector" title="available on Bandcamp"><i class="icon-link icon-large"></i></a><br />
    Wake the Dead (single) (2022) <a href="https://gravedangerskath.bandcamp.com/album/wake-the-dead" title="available on Bandcamp"><i class="icon-link icon-large"></i></a><br />
  </div>
</div>

<div class="project_box">
  <div class="project_title">And Or Not</div>
  <div class="project_info">
    <a href="https://andornot.bandcamp.com" title="And Or Not on Bandcamp"><i class="icon-link icon-large"></i></a><br/>
    (2023 - present)
    <ul class="band_members">
      <li>Dave Schwantes - vocals, bass, drums, keys</li>
    <ul>
  </div>
  <div class="project_desc">
    This is my weird noisy, bass driven solo project (which is for some reason different than "Solo Stuff"). I sing and play al the instruments and it's very inspired by Death From Above 1979.  I wrote a bit more about it in this <a href="https://dinosaurseateverybody.com/blog/and-or-not" title="And Or Not">post</a>.<br />
    <br />
    <strong>Releases</strong> <br />
    The Infernal Machine (2023) <a href="https://andornot.bandcamp.com/album/the-infernal-machine" title="available on Bandcamp"><i class="icon-link icon-large"></i></a>
    &nbsp;
    <a href="magnet:?xt=urn:btih:f38e664d661f4d15d00faedae682388529870987&dn=And%20Or%20Not%20-%20The%20Infernal%20Machine&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.bittor.pw%3A1337%2Fannounce&tr=udp%3A%2F%2Fpublic.popcorn-tracker.org%3A6969%2Fannounce&tr=http%3A%2F%2Fmgtracker.org%3A6969%2Fannounce" title="available on bittorrent"><i class="icon-magnet icon-large"></i></a><br />
  </div>
</div>

<div class="project_box">
  <div class="project_title">Solo Stuff</div>
  <div class="project_info">
    <ul class="band_members">
      <li>me - guitar, bass, keys, vocals, whatever</li>
    <ul>
  </div>
  <div class="project_desc">
    Sometimes I do some recording and or songwriting on my own, particularly since I've moved to California, leaving my bands and longtime musical collaborators back in Chicago.
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/38145340&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">Packets and Waves</div>
  <div class="project_info">
    (2010 - present)
    <ul class="band_members">
      <li>Eileen Hays - vocals, bass</li>
      <li>Dave Schwantes - guitar, bass, keys, backing vocals</li>
    <ul>
  </div>
  <div class="project_desc">
    Eileen and I have recorded a few covers and one original song together under as Packets and Waves.
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/35053211&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">The Wonks</div>
  <div class="project_info">
    (2012 - 2013)
    <ul class="band_members">
      <li>Eileen Hays - vocals, bass</li>
      <li>Dave Schwantes - guitar, vocals</li>
      <li>Linda Alves - guitar, vocals</li>
      <li>Zach Goldman - drums</li>
    <ul>
  </div>
  <div class="project_desc">
    This was a 90's cover band I started with some of Eileen's grad school friends.  We played a few gigs but sort of dissolved after Zach moved to Sacramento.
  </div>
</div>

<div class="project_box">
  <div class="project_title">The American Autumn</div>
  <div class="project_info">
    <a href="https://twitter.com/americanautumn" title="@americanautumn"><i class="icon-twitter icon-large"></i></a>
    <a href="https://www.facebook.com/theamericanautumn" title="The Ameican Autumn on FB"><i class="icon-facebook icon-large"></i></a><br />
    (2008 - 2012?)
    <ul class="band_members">
      <li>Chris Marcanti - vocals, guitar</li>
      <li>Josh Marcanti  - vocals, bass (2008 - 2010), guitar (2010 - present)</li>
      <li>Sam Nallen - bass ( 2010 - present)
      <li>Brandon Winger - drums (2010 - present)
      <li>Dave Schwantes - guitar, piano, backing vocals (2008 - 2011)</li>
      <li>Dane Erbach - drums (2008 - 2010)</li>
    <ul>
  </div>
  <div class="project_desc">
    We started this band with the idea of making fun, catchy music.  Though it's been through a few lineup changes, The American Autumn is still going strong (even without me).<br />
    <br />
    <strong>Releases</strong> <br />
    self titled demo (2009)<br />
    Do You Like Me? Yes/No/Maybe (2010) <a href="https://itunes.apple.com/us/album/do-you-like-me-yes-no-maybe/id346095128" title="available on iTunes"><i class="icon-apple icon-large"></i></a><br />
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/35053460&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">Davenport</div>
  <div class="project_info">
    (2005 - 2007)
    <ul class="band_members">
      <li>Matt Mills - vocals, guitar</li>
      <li>Dave Schwantes - guitar</li>
      <li>Chris Marcanti - bass, backing vocals</li>
      <li>Bryan Dunk - drums</li>
    <ul>
  </div>
  <div class="project_desc">
    We always described Davenport as "aggressive indie".  A lot of the song writing was a weird mix of classic rock, folk, and progressive modern punk.  Sometimes it was weird and sometimes it was really cool.<br />
    <br />
    <strong>Releases</strong> <br />
    Ten Paces and Turn (2005)<br />
    The Seedy Laflure Sessions (2007)<br />
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/39606560&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">Miss April</div>
  <div class="project_info">
    (2003 - 2004)
    <ul class="band_members">
      <li>Dan Maquis - vocals, guitar</li>
      <li>Matt Mills - guitar</li>
      <li>Dave Schwantes - bass</li>
      <li>Bryan Dunk - drums</li>
    <ul>
  </div>
  <div class="project_desc">
    Formed when were all in college, Miss April didn't last very long but laid the groundwork for future bands like Davenport and The American Autumn.<br />
    <br />
    <strong>Releases</strong> <br />
    demo (2004)<br />
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/39606493&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">Captain Supreme</div>
  <div class="project_info">
    (???)
    <ul class="band_members">
      <li>Amy - vocals</li>
      <li>Ben - bass</li>
      <li>Joe - guitar ()</li>
      <li>Dave Schwantes - alto sax, keys (), guitar ()</li>
      <li>Chris Grosse - tenor sax</li>
      <li>Luke - trumpet ()</li>
      <li>Dane Erbach - drums</li>
      <li>Alan Erbach - trumpet ()</li>
      <li>Kyla - trumpet ()</li>
    <ul>
  </div>
  <div class="project_desc">
    Captain Supreme was a really fun ska band. <br />
    <br />
    <strong>Releases</strong> <br />
    Rockasaurus Demo <br />
    Cheese Side Down Demo <br />
    Blamp (2003)<br />
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/39606621&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>

<div class="project_box">
  <div class="project_title">Hello Bert</div>
  <div class="project_info">
    (1999 - 2001)
    <ul class="band_members">
      <li>Dave Schwantes - guitar, bass, vocals</li>
      <li>Kyle Loeffel - guitar, bass, vocals</li>
      <li>Bryan Dunk - drums
    <ul>
  </div>
  <div class="project_desc">
    My ska/punk band from high school.  This was the first "real" band I was ever in.<br />
    <br />
    <strong>Releases</strong> <br />
    Pantsless Antics (2000)<br />
  </div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/39606377&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
