<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>Trying a New Weird Keyboard</strong></br>
   I picked up a <a href="https://www.zsa.io/voyager">ZSA Voyager</a>, with the idea of having a nicer mechanical keyboard for travel. I'm definitely in the awkward-new-layout phase with it now. I'm fat fingering a lot of things and realizing that I don't have the muscle memory to get to various symbols. It's a smaller layout than I'm used to (my main work keyboard is a ErgoDox EZ), which is making for a steep learning curve. I'm typing this update on it right now and it's been a bit of a challenge. I remember getting use to the ErgoDox being pretty tricky but now it feels really natural, so I'll stick with it and keep messing with my layout.
</div>

<div class="project_box">
  <strong>Playing With More Coding Agents</strong></br>
  It's hard to be a software engineer and not be immersed in AI hype. I do a lot with Copilot at work but I wanted to try some other tools out, so I've been using Claude Code to build a few projects that fall into the "things I want but I don't really have time to build" bucket. I've been trying to build without touching the code very much, just letting the CLI tool do all the work and it's honestly been pretty impressive. So far I've built a little web app for keeping track of songwriting material for one of my bands and a kid-friendly chat app. Most of the time I've been just prompting Claude and then going about other tasks like making dinner or doing the dishes. Things are getting built! It's not as satisfying as coding things by hand, but it's fun to make new things exist.
</div>

<div class="project_box">
  <strong>Working On a New Grave Danger Record</a></strong></br>
  It's been way too long since Grave Danger has put out new music (Wake the Dead came out in 2022!). I've had some initial recordings for new songs sitting around for a while but I was blocked on tracking down a bari sax. Near the end of last year I finally broke down and just bought a bari on eBay (it's awesome!) and now I'm dedicated to putting out some new music this year. I'm starting to get tracks from the other horn players and things are moving along nicely. I'm excited to have something new out there this year! 
</div>

