<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>I'm STILL working on a new <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  I'm writing drum parts now and dealing with the fact that I'm writing at the edge of my ability. Which is fun, but it means I need to both write and practice before I can record. I'm spending a lot of time cursing myself for writing such fast songs. It's also hard to find long stretches of time where I can play drums uninterrupted so that's been a challenge, but I'm enjoying these songs and they'll get done eventually! 
</div>

<div class="project_box">
  <strong>Messing around with Linux</strong></br>
  I picked up a Framework laptop a while ago, mainly to have a Windows computer so I could play the Bedrock version of Minecraft with my kid. I also had aspirations of dual booting Linux and I finally carved out some time to set up Ubuntu on a partition. It had been quite a while since I've used Linux and after a little poking around I decided to just try DHH's <a href="https://omakub.org/">Omakub</a> setup. It's taken a little getting used to and I've been having to learn a lot, but it's pretty nice. I've mainly been using it to build a programming language as I work through the book <a href="https://craftinginterpreters.com/">Crafting Interpreters</a>, which has forced me to learn more about Neovim (and lazyvim), Alacritty, Zellij, and a bunch of other things as I code.
</div>

<div class="project_box">
  <strong>Picking up heavy things</a></strong></br>
  I've been trying to lift more this year, mostly motivated by the idea that as I get older I should stay in shape so I can keep doing active things I enjoy. I've been trying to go to the gym more regularly and bought some adjustable dumbbells to use at home. I don't have much of a plan other than try to lift regularly and hit most of my muscles and make sure I have enough protein in my diet. I don't feel like I'm at the point where I need to optimize too much yet. I think I'm getting stronger, which is nice!
</div>

