<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>FINALLY Done With the <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  I finally wrapped up this record and "put it out" (meaing I uploaded it to Bandcamp). I'm really happy with how it turned out and it always feels good to release new music. I wrote about this in more detail in a <a href="../blog/another-and-or-not-record">blog post</a>.
</div>

<div class="project_box">
  <strong>Playing Around With Linux</a></strong></br>
  After dual booting Ubuntu with <a href="https://omakub.org/">Omakub</a> on the Framework laptop I bought mainly for playing Minecraft and enjoying it (mainly using to as a dev environment while working on a programming language) I started reading a bit about <a href="https://omarchy.org/">Omarchy</a>, DHH's venture into Arch. I dug up an old 2012 Macbook Air and mangaged to install it on there and honestly, it's been fun playing around with something so customizable. 
</div>

<div class="project_box">
  <strong>End of Summer</a></strong></br>
  The kids are back in school. The weather is getting a little cooler. Summer is wrapping up. I love summer and I'm sad it's over but the routine that comes with the kids being in school is welcome. I feel like I'm getting back into playing drums regularly again and I have more uninturupted work days.
</div>

