<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>Getting Closer to Finishing the New <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  I finally finished recording the drum parts. That really took me a lot longer than I had hoped, but I was writing and only able to record in small chunks of time, so the process really got drawn out. I also just finished recording the bass parts (which didn't take that long). I've started writing/recording keyboard parts and then it's just vocals and mixing! This whole project has dragged out for way longer than a 3 song EP should, but it's still fun!
</div>

<div class="project_box">
  <strong>Making Progress On <a href="https://craftinginterpreters.com/">Crafting Interpreters</a></strong></br>
  I've managed to stick with this book despite only having small chuncks of time to work through it. I got into the habit of working though it while Elliot was getting ready for bed and while I was at his chess tournaments (these can last all morning with lots of quiet downtime). I'm almost done with the "interpreter" section of the book where I'm implementing the example language (Lox) in Crystal.
</div>

<div class="project_box">
  <strong>Seeing Some Shows</a></strong></br>
  I've ended up going to a few random shows lately. I saw '68 in Milwaukee and The Hold Steady in Minneapolis, both excellent shows and worth the drive. I also bought tickets to see Weird Al at Ravinia this summer. The lineup for Riot Fest is looking tempting too.
</div>

