<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>Trying to finish recording a new <a href="https://gravedangerskath.bandcamp.com/">Grave Danger</a> EP before Halloween.</strong></br>
  I have 3 songs written, horn parts transcribed, and guitar and bass recordings done but there's still a lot to do if we want to get everything mixed, mastered, and ready to release by Halloween (which is when we always release Grave Danger muisc). Hopefully it all comes together.
</div>

<div class="project_box">
  <strong>Playing Minecraft with Elliot.</strong></br>
  Earlier this summer Elliot started playing Minecraft and I started playing it again. I probably first played about 15 years ago (pre 1.0). I set us up a Realm to play on together since I didn't feel like managing my own server and it's been a lot of fun!
</div>

<div class="project_box">
  <strong>Wrapping Up Summer</strong></br>
  The kids are back in school soon and it feels like things are about to fall back into a more regular routine (something that gets a little lost during the summer months). We just got back from Costa Rica (without the kids!) and that was our last big trip of the season.
</div>
