<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>ALMOST Done With the <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  Wow, this project has been going on for a long time. I finally finished recording vocals and I've started editing and mixing the songs now. Only having bass, drums, vocals, and some keys the mixing isn't too bad, but it still takes some work to get right. I'm liking how the songs are turning out, but I'll be glad to get them finished and released. I even got started on some album art with the help of ChatGPT.
</div>

<div class="project_box">
  <strong>Played Another Rad Religion Show</a></strong></br>
  My Bad Religion cover band, <a href="https://www.facebook.com/RadReligion">Rad Religion</a> played another show a few weeks ago. It was a fun little festival of punk cover bands and it's always fun to play live with these guys. It makes me want to spend more time playing guitar.
</div>

<div class="project_box">
  <strong>General Summer Stuff</a></strong></br>
  We haven't been traveling too much this summer in a conscious effort to spend some more time around our neighborhood, seeing friends and just being more a part of our community. We've been biking to the beach, having casual dinners with neighbors, and trying to pop in and visit friends more. It's been good and chill, but somehow we still feel really busy.
</div>

