<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>Still Working on a new <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  I think I have the basic structure and lyrics for 3 songs written. Now I'm trying to work out the drum parts, which is proving a little harder than I expected because of the tempo and structure of these riffs. I'm getting close to being able to start recording, though. Hopefully I'll have something to release soon.
</div>

<div class="project_box">
  <strong>I Started Playing Factorio</strong></br>
  I had bought Factorio years ago and just never got that into it. For some reason I got the urge to check it out again and it's been nice to have an offline game to play on planes when we were traveling for holidays. I, thankfully, haven't gotten as addicted as I expected for this type of game, but it's been cool.
</div>

<div class="project_box">
  <strong>Trying To Do More With <a href="https://dontbreakprod.com/">Don't Break Prod</a></strong></br>
  I've been writing posts here and there for Don't Break Prod for over a year now. I haven't been very consistent but I want to do more with this site this year. I'm not really sure how to drive a ton of traffic to it, but I'd like to keep posting and promote it as best I can. Maybe as it grows I can do a bit more with the design. I still like using <a href="https://github.com/dorkrawk/postwave">Postwave</a> for the engine and it's been a good way to test it out.
</div>

