<h2 class="project_title">
  What I'm doing <a href="https://nownownow.com/about" title="what's a now page?">now</a>.
</h2>

<div class="post_date">Last Updated: <%= now_updated_at %></div></br>

<div class="project_box">
  <strong>Working on a new <a href="https://andornot.bandcamp.com/">And Or Not</a> Record</strong></br>
  When it became clear that we weren't going to be able to get a new Grave Danger record done in time to properly promote it for a Halloween release I got kind of antsy about writing and releasing music. I had done a little riff writing for some new And Or Not stuff earlier this year so I sat down and picked some of the better ones as the basis for some new songs. It's coming along well and I'm excited to see how I can make my drum recording better this time around. I don't think anyone but me has really been asking for new And Or Not, but I really like the way these songs around coming together so that's what people are going to get.
</div>

<div class="project_box">
  <strong>Playing With Plex</strong></br>
  I got the urge to start owning more of my media and maybe reducing the number of streaming services I subscribe to so I set up a <a href="https://www.plex.tv/">Plex</a> server. I picked up a cheap mini PC and installed the software and now I'm up and running. It's been a long time since I last tried to get video files onto my TV and things have come a long way. Plex plus apps for mobile and Roku made it super simple. There's something kind of fun about media hording and organizing a bunch of movies and TV shows.
</div>

<div class="project_box">
  <strong>Still Playing A Lot of Minecraft with Elliot.</strong></br>
  Our shared world that I have set up in Realms is going strong. We keep trying to convince Eileen to join us, but she seems less than enthused. He's starting to ask about how to build mods so we might have to figure out how that works.
</div>

