<div class="project_box">
  <div class="project_title">Postwave</div>
  <div class="project_info">
    <a href="https://github.com/dorkrawk/postwave"><i class="fa fa-github fa-lg" title="Github project"></i></a>
    <a href="https://rubygems.org/gems/postwave"><i class="fa fa-diamond fa-lg" title="Ruby Gems"></i></a>
  </div>
  <div class="project_desc">
    I think I like writing blog engines more than I like writing blog posts. This is a simple flat file based blogging/posting tool that lets you publish staticly but get to the posts dynamically so that you can incorporate the posts into your site any way you want. I'm currently using it to power <a href="https://dontbreakprod.com/" title="Don't Break Prod">Don't Break Prod</a>.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Don't Break Prod</div>
  <div class="project_info">
    <a href="https://dontbreakprod.com/"><i class="fa fa-link fa-lg" title="Site"></i></a>
    <a href="https://dontbreakprod.com/feed"><i class="fa fa-rss fa-lg" title="RSS"></i></a>
    <a href="https://twitter.com/dontbreakprod"><i class="fa fa-twitter fa-lg" title="Twitter"></i></a>
  </div>
  <div class="project_desc">
    Don't Break Prod provides bite-sized pieces of career advice for software engineers. It's been a way to share some of my thoughts on tech careers as well as play with using Postwave to publish something.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Darwinning</div>
  <div class="project_info">
    <a href="https://github.com/dorkrawk/darwinning"><i class="fa fa-github fa-lg" title="Github project"></i></a>
    <a href="http://rubygems.org/gems/darwinning"><i class="fa fa-diamond fa-lg" title="Ruby Gems"></i></a>
  </div>
  <div class="project_desc">
    A Ruby gem for building genetic algorithms.  I think genetic algorithms are fun and I wanted to learn how to build Ruby gems.  This seemed like the obvious way to go.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Trackstar</div>
  <div class="project_info">
    <a href="https://github.com/dorkrawk/trackstar"><i class="fa fa-github fa-lg" title="Github project"></i></a>
    <a href="https://rubygems.org/gems/trackstar"><i class="fa fa-diamond fa-lg" title="Ruby Gems"></i></a>
  </div>
  <div class="project_desc">
    A simple commandline based based practice tracker. I wanted something to quickly make notes about things I was practicing (guitar, piano, etc.). This lets you do it quickly from the terminal and get some basic stats.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Moola</div>
  <div class="project_info">
    <a href="https://github.com/dorkrawk/moola"><i class="fa fa-github fa-lg" title="Github project"></i></a>
  </div>
  <div class="project_desc">
    A Crystal shard for dealing with Money. Based heavily on <a href="https://github.com/RubyMoney/money">RubyMoney</a>.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Mount Saint Awesome</div>
  <div class="project_info">
    <a href="http://mountsaintawesome.com"><i class="fa fa-link fa-lg" title="the comic!"></i></a>
  </div>
  <div class="project_desc">
    Mount Saint Awesome is my webcomic.  I started drawing it a few years ago and it's been a lot of fun.  I was very consistent on my once a week updates for a long time, but recent life craziness has severely cut into my update schedule.
  </div>
</div>

<div class="project_box">
  <div class="project_title">Don't Screw It Up</div>
  <div class="project_info">
    <a href="http://dontscrewituppodcast.com"><i class="fa fa-link fa-lg" title="the website"></i></a>
    <a href="https://itunes.apple.com/us/podcast/dont-screw-it-up/id1147956409"><i class="fa fa-apple fa-lg" title="iTunes"></i></a>
  </div>
  <div class="project_desc">
    A guide to pregnancy and parenthood by people figuring it out as they go. Don't Screw It Up is the podcast that Eileen and I are making to talk about our experiencs having a kid.
  </div>
</div>
