/* fake black */
/* light gray */
/* pukey greenish */
/* light pukey greenish */
/* dark pukey greenish */
/* line 9, ../../sass/style.scss */
body {
  background-color: white;
  color: #66595c;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
}

/* line 16, ../../sass/style.scss */
a {
  text-decoration: none;
  color: #8fae46;
}

/* line 21, ../../sass/style.scss */
a:hover {
  color: #bad776;
}

/* line 25, ../../sass/style.scss */
li {
  list-style: none;
}

/* line 29, ../../sass/style.scss */
#shell {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  min-width: 900px;
}

/* line 36, ../../sass/style.scss */
header {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

/* line 42, ../../sass/style.scss */
.page_title {
  font-size: 50px;
  color: #567117;
}

/* line 47, ../../sass/style.scss */
.page_subtitle {
  margin-top: -40px;
  color: #94908a;
}

/* line 52, ../../sass/style.scss */
nav {
  float: left;
  width: 25%;
}

/* line 57, ../../sass/style.scss */
ul#nav {
  margin-top: -8px;
}
/* line 60, ../../sass/style.scss */
ul#nav li {
  margin-left: -40px;
  font-weight: bold;
  font-size: 40px;
}

/* line 67, ../../sass/style.scss */
#content {
  float: right;
  width: 75%;
  font-size: 16px;
  line-height: 1.7em;
  word-wrap: break-word;
}

/* line 75, ../../sass/style.scss */
footer {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  color: #94908a;
}

/* Page specific stuff */
/* line 85, ../../sass/style.scss */
.project_box {
  margin-bottom: 20px;
}
/* line 88, ../../sass/style.scss */
.project_box .project_title {
  font-weight: bold;
  font-size: 20px;
}

/* line 94, ../../sass/style.scss */
.back_to_blog {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 100, ../../sass/style.scss */
.pagination {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 107, ../../sass/style.scss */
h2.post_title {
  font-size: 24px;
  margin-bottom: 2px;
  margin-top: 0px;
}

/* line 113, ../../sass/style.scss */
.post_date {
  color: #94908a;
}

/* line 117, ../../sass/style.scss */
.post {
  margin-bottom: 30px;
}

/* line 121, ../../sass/style.scss */
.highlight {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

/* line 129, ../../sass/style.scss */
.inline_right {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 136, ../../sass/style.scss */
.inline_left {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
